# Godot 4+ specific ignores
.godot/
/android/
.codex_tmp/spreadsheet_build/node_modules/@types/node/web-globals/console.d.ts
/.codex_tmp
Release/CharmsGames.exe
Release/0907v5 CharmsGames.zip
Release/0912v6CharmsGames/0912v6CharmsGames.zip
Release/0912v6CharmsGames/admin-entry-and-password.txt
Release/0912v6CharmsGames/CharmsGames.exe
Release/0915v7CharmsGames/0915v7CharmsGames.rar
Release/0915v7CharmsGames/admin-entry-and-password.txt
Release/0915v7CharmsGames/CharmsGames.exe
